<h1 align="center">Welcome</h1>

<h4 align="center"><%= link_to 'Add User', new_user_path%></h4>
<h4 align="center"><%= link_to 'Users', users_path	 %></h4>


<h4 align="center"><%= link_to 'Add Link', new_link_path%></h4>
<h4 align="center"><%= link_to 'Links', links_path %></h4>

<h4 align="center"><%= link_to 'Validate User with email and password', signin_new_path%></h4>
