<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Target category:</strong>
  <%= @link.target_category %>
</p>

<p>
  <strong>Target info:</strong>
  <%= @link.target_info %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @link.tags %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
